.demo
        {
            background-color: red;
            width: 100%;
            height: 200px;

        }
    
    #p1
    {
        color:violet;
    }
    p{
        color: rosybrown;
        width: 100%;

    }